body {
	background-image:url('pattern_35.gif');
}
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#galleria {
	height:520px;
	width: 100%;
}
h2, p {
	font-family:Arial, sans-serif;
}
.text { 
	width:100%;
	font-family:Arial, sans-serif;
	font-size:18px;
	color:white;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
li {
	float:left;
}
.black.button {
	left: 35%;
}