body {
background-image:url('pattern_35.gif');
margin:0;
padding:0;
}
/*#header {
background-color:black;
width:760px;
margin:auto;
}*/
#content {
background-color:black;
width:760px;
margin:auto;
}
#facebook{
position:absolute;
padding-left:460px;
padding-top:520px;
}
#galleria {
position:absolute;
padding-left:4px;
padding-top:930px;
height:320px;
width: 700px;
}
#twittergr {
position:absolute;
padding-left:460px;
padding-top:170px;
}
#release { 
position:absolute;
padding-left:2px;
padding-top:680px;
height:200px;
width:450px;
text-align:justify;
font-family:'Della Respira', serif;
/*font-family:'Arial';*/
font-size:14px;
color:white;
}
#youtube {
position:absolute;
padding-top:80px;
padding-left:2px;
}
#soundcloud {
position:absolute;
width:430px;
padding-top:450px;
padding-left:2px;
}
#seguir{
position:absolute;
padding-top:140px;
padding-left:490px;
z-index:1;
}
#social {
position:absolute;
padding-top:80px;
padding-left:460px;
z-index:2;
}
ul {
list-style-type:none;
margin:0;
padding:0;
}
li {
float:left;
}
