<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="keywords" content="GrandeRock, Grande-Rock, Grande, Rock" />
    <meta name="description" content="Site oficial da banda Grande Rock. BAIXE O NOSSO EP AQUI!" />
    <meta name="google-site-verification" content="mdDJ8ZdvCDR5VLKwrSCEuvsecyf_r4HIrhC2SpuDcUw" />
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ui.css"/>
     <!-- Attach the Reveal CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/reveal.css">
     <!-- jQuery needs to be attached -->
    <script src="/static/css/jquery.min.js" type="text/javascript"></script>
     <!-- Then just attach the Reveal plugin -->
    <script src="/static/css/jquery.reveal.js" type="text/javascript"></script>
    <title>Grande Rock</title>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28516215-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="twelve colluns">
                <img class="center" src="/static/img/logo.png" alt="logo" />
            </div>
            <div class="row">
                    <a href="#" class="black medium radius button" data-reveal-id="myModal">Baixar o EP.</a>
                    <a href="/home" class="black medium radius button">Acessar o site.</a>
                    <br/><br>
            </div>
        </div>
    </div>
<div id="myModal" class="reveal-modal">
     <h2>BAIXAR O EP!</h2>
     <p>Para baixar o EP é só ter uma conta do facebook ou do twitter, No Facebook não esqueça de comentar e compartilhar!</p>
     <iframe src="http://www.paywithatweet.com/dlbutton02.php?id=efa9e1d523abe9a00854907834b591bb" name="paytweet_button2" width = "240px" height = "24px" scrolling="No" frameborder="no" id="paytweet_button2"></iframe>
     <a class="close-reveal-modal">&#215;</a>
</div>
</body>
</html>
