<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="pt-br" />
<meta name="keywords" content="GrandeRock, Grande-Rock, Grande, Rock" />
<meta name="description" content="Site oficial da banda Grande Rock." />
<meta name="google-site-verification" content="mdDJ8ZdvCDR5VLKwrSCEuvsecyf_r4HIrhC2SpuDcUw" />
<link rel="stylesheet" type="text/css" href="/static/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/960.css"/>
<title>Grande Rock</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28516215-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
 <!-- load jQuery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<!-- load Galleria -->
<script type="text/javascript" src="/static/galleria/galleria-1.2.7.min.js"></script>
<!-- load flickr plugin -->
<script type="text/javascript" src="/static/galleria/plugins/flickr/galleria.flickr.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container_12 ">

<div class="grid_12">
<img class="center" src="/static/img/logo.png" alt="logo" />
</div>

<div class="grid_8">
<iframe width="100%" height="349" src="http://www.youtube.com/embed/FnrQpTzuvXM" frameborder="0"></iframe><br/><br/>

<object height="225" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1536128"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="225" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1536128" type="application/x-shockwave-flash" width="100%"></embed> </object><br/><br/>

<div class="text" align="justify">
<b>O Grande Rock</b><br/>
Não há como definir as inspirações para essa banda, afinal de contas estamos
falando de quatro amigos que tocam juntos desde 2002 e buscam em suas músicas
um Rock n’ Roll puro e cru, sem subgêneros. Sua sonoridade faz referências aos
Rolling Stones, Aerosmith, AC/DC e Ramones. Mas a principal influência musical 
do grupo é com certeza a finada banda sueca Hellacopters, e nada melhor para 
expressar isso que o nome "Grande Rock", retirado do álbum com o mesmo título 
lançado em 1999.
A banda - Grande Rock - surgiu sob esse nome em 2009 e desde então busca seu
espaço no cenário underground, já tendo tocado em diversos clubs e bares. 
Os membros do grupo são: Rodrigo Vieira e Bruno Serato nas guitarras, Douglas
Martins na bateria e Bruno Kuba no baixo e vocais.
</div><br/>
</div>

<div class="grid_4">

<ul>
<li><a href="http://twitter.com/Grande_Rock" target="_blank"><img src="/static/img/twitter.png" alt="twitter"/></a></li>
<li><a href="http://www.youtube.com/user/bandagranderock" target="_blank"><img src="/static/img/youtube.png" alt="youtube"/></a></li>
<li><a href="http://www.flickr.com/photos/granderock" target="_blank"><img src="/static/img/flickr.png" alt="flickr"/></a></li>
<li><a href="https://www.facebook.com/pages/Grande-Rock/159301724146373" target="_blank"><img src="/static/img/facebook.png" alt="facebook"/></a></li>
</ul><br/><br/>

<a href="https://twitter.com/Grande_Rock" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Seguir @Grande_Rock</a>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><br/><br/>

<script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript">
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#ff0000'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('Grande_Rock').start();
</script><br/><br/>   

<div class="fb-like" data-href="http://www.granderock.com.br" data-send="true" data-width="250" data-show-faces="true" data-colorscheme="dark" data-font="arial"></div><br/>
<div class="fb-activity" data-site="http://www.granderock.com.br" data-width="250" data-height="300" data-header="true" data-colorscheme="dark" data-linktarget="_top" data-recommendations="true"></div>
</div>

<div class="grid_12">
<div id="galleria"></div>
<script type="text/javascript">
// Load the classic theme
Galleria.loadTheme('/static/galleria/themes/classic/galleria.classic.min.js');
// Initialize Galleria
Galleria.run('#galleria', {
flickr: 'user:granderock',
flickrOptions: {
    sort: 'date-posted-asc',
    description: true,
}
});
</script>
</div>
<div class="grid_12">
<br/><br/>
<p class="text" align="right">Desenvolvido pelo Grande Rock mesmo!</p>
</div>
</div>
</body>
</html>
